<div style="margin-top: 20px; margin-left: 150px">
  Bir Csv Dosyası Yükleyiniz <br /><br /><br />
  <input
    type="file"
    #file
    value="test"
    [multiple]="false"
    (change)="onFileChange($event)"
    style="display: none"
    accept=".txt, .csv"
  />

  <input type="button" value="Upload" (click)="file.click()" />

  <div class="dragged-files-wrapper" *ngIf="draggedFiles">
    <div class="file" *ngFor="let file of draggedFiles">
      File Name : {{ file.name }}
    </div>
  </div>
  <button type="submit" class="circle-link" title="Submit" rel="noopener" (click)="onClickSubmit($event)" value="submit">
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="2 1 24 24">
      <title>Submit</title>
      <path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/>
    </svg>

  </button>

  <div *ngIf="teamtop.member1 != null" class="topteam">
    <table id="projects">
      <tr>
        <th>member1</th>
        <th>member2</th>
        <th>projectId</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Project Duration</th>
      </tr>
      
      <tr > 
        <td>{{teamtop.member1}}</td>
        <td>{{teamtop.member2}}</td>
        <td>{{teamtop.projectId}}</td>
        <td>{{teamtop.projectStart.toLocaleDateString()}}</td>
        <td>{{teamtop.projectEnd.toLocaleDateString()}}</td>
        <td>{{teamtop.projectDays}}</td>
      </tr>
     
    </table>

</div>
  
<h2>Teams List</h2>
  <div class="file" >
    <table id="projects">
      <tr>
        <th>member1</th>
        <th>member2</th>
        <th>projectId</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Project Duration</th>
      </tr>
      
      <tr *ngFor="let team of teamList"> 
        <td>{{team.member1}}</td>
        <td>{{team.member2}}</td>
        <td>{{team.projectId}}</td>
        <td>{{team.projectStart.toLocaleDateString()}}</td>
        <td>{{team.projectEnd.toLocaleDateString()}}</td>
        <td>{{team.projectDays}}</td>
      </tr>
     
    </table>
     
     <br>
  </div>

  <br><br><br><br>

  <h2>Projects List</h2>

  <div class="file" >
    <table id="projects">
      <tr>
        <th>Project</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Project Duration</th>
      </tr>
      <tr *ngFor="let project of projectList"> 
        <td>{{project.ProjectID}}</td>
        <td>{{project.DateFrom.toLocaleDateString()}}</td>
        <td>{{project.DateTo.toLocaleDateString()}}</td>
        <td>{{project.sumDate}}</td>
      </tr>
     
    </table>
     
     <br>
  </div>
</div>
